@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(210, 11%, 96%);
  --foreground: hsl(220, 10%, 20%);
  --card: hsl(0, 0%, 100%);
  --input: hsl(214, 31%, 91%);
  --border: hsl(215, 20%, 85%);
  --accent-primary: hsl(145, 58%, 55%);
  --accent-secondary: hsl(200, 94%, 65%);
  --accent-danger: hsl(0, 72%, 60%);
  --accent-warning: hsl(35, 100%, 55%);
  --accent-info: hsl(202, 100%, 60%);
  --radius: 0.5rem;

  --emerald: rgb(16 185 129 / var(--tw-text-opacity, 1));

  --primary-foreground: 0 0% 9%;
}

.dark {

  --background: 0, 0%, 13%;
  --foreground: 0, 0%, 93%;
  --input: 0, 0%, 26%;
  --card: 0, 0%, 19%;

  --border: 0, 0%, 100%, .05;
  --primary: 0 0% 88%;

  --accent-foreground: 0 0% 13%;
}


.light {

  --background: 0, 0%, 100%;
  --card: 0, 0%, 98%;
  --foreground: 228, 8%, 24%;
  --input: 0, 0%, 96%;
  --border: 0, 0%, 0%, .12;
  --primary: 0 0% 48%;

  --accent-foreground: 0 0% 3%;
  --primary-foreground: 0 0% 90%;
}


body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.card-pass {
  border-color: hsl(var(--border));
  border-width: 1px;
  background-color: hsl(var(--background), 0.3);
}

input::placeholder {
  color: hsl(var(--foreground), 0.8);
}

input {
  text-overflow: ellipsis;
}

input:focus {
  border-color: hsl(var(--foreground), 0.5);
}

.color-emerald {
  color: var(--emerald);
}

input {
  color: hsl(var(--foreground));
}

.bg-card {
  background-color: hsl(var(--card));
}

input {
  background-color: hsl(var(--input));
}

.text-accent-primary {
  color: var(--accent-primary);
}

.text-accent-secondary {
  color: var(--accent-secondary);
}

.text-accent-danger {
  color: var(--accent-danger);
}

.text-accent-warning {
  color: var(--accent-warning);
}

.text-accent-info {
  color: var(--accent-info);
}

::selection {
  background-color: rgb(16 185 129 / var(--tw-text-opacity, 1));
  color: black;
}

button[data-state="active"] {
  border-color: var(--emerald) !important;
}

button[role="tab"] {
  border-width: 1px;

  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;

  background-color: transparent !important;
  box-shadow: none !important;
}

button[data-state="inactive"] {
  border-color: hsl(var(--foreground), 0.1) !important;
}

.border-emerald {
  border-color: var(--emerald);
}

.btn-danger {
  color: var(--accent-danger);
}

input,
textarea,
select {
  font-size: 16px !important;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}